@model IEnumerable<_26_BuiVanToan_BusinessObject.Book>

@{
    ViewData["Title"] = "Books List";
}

<h1>Books</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New Book</a>
</p>

<div class="row">
    <div class="col-md-5">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label for="searchString" class="control-label">Search: </label>
                <input id="searchString" name="searchString"
                       class="form-control" value="@ViewData["Search"]" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
    <div class="col-md-5 offset-md-1">
        <form asp-action="Index" method="get">
            <div class="form-group mb-0">
                <label class="control-label mb-0">Filter by Unit Price: </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="startPrice" class="control-label d-inline">Start Price: </label>
                        <input id="startPrice" name="startPrice"
                               class="form-control" type="number" step="any" value="@ViewData["StartPrice"]" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="endPrice" class="control-label d-inline">End Price: </label>
                        <input id="endPrice" name="endPrice"
                               class="form-control" type="number" step="any" value="@ViewData["EndPrice"]" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
    <div class="col-12">
        @if (ViewData["SearchError"] != null)
        {
            <p class="text-danger">@ViewData["SearchError"]</p>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Royalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdSales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Advance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Royalty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YtdSales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublisherDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@if (ViewData["Books"] != null)
{
    <div class="row ml-0 mr-0">
        <p class="text-danger">@ViewData["Books"]</p>
    </div>
}
