@model _26_BuiVanToan_BusinessObject.Product
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<h3>
    Are you sure delete this ?
</h3>
<div>
    <h4>Product</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.ProductId)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
       
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="delete" class="btn btn-danger"/>
        <a asp-action="Index"> Back to list</a>
    </form>
</div>